* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: greenyellow;
    background-image: radial-gradient(#333, black);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.error {
    color: rgb(247, 76, 76);
    font-size: .7rem;
    padding:.5rem .5rem 0;
}
.hide {
    display: none;
}
#container {
    max-width: 450px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(255,255,255,.2);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
#container header {
    padding: 1rem 0 2rem;
    text-align: center;
}
.form-control {
    padding: 0 1rem 1rem;
    border-bottom: 2px solid rgba(0,0,0,.2);
    width: 100%;
    min-height: 80px;
}
.form-control form {
    display: flex;
    width: 100%;
}
#fText, button#exec {
    border-radius: 5px;
    color: greenyellow;
    font-size: .8rem;
    padding: .5rem;
    transition: 1s;;
    font-weight: bold;
}
#fText:hover, button#exec:hover {
    border: 2px solid greenyellow;
}
#fText {
    width: 100%;
    border: 2px solid rgba(0,0,0,.2);
    background-color: rgba(0,0,0,0);
    
}
button#exec {
    margin-left: .3rem;
    border: 2px solid rgba(0,0,0,0);
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}
#fText::placeholder {
    font-size: .8rem;
}
#res {
    min-height: 90px;
    padding: 2rem 1rem;
    word-wrap: break-word;
    text-align: justify;
}
#res h3 {
    font-size: .8rem;
    text-align: center;
}
#res p {
    font-size: .8rem;
    padding: 1rem 0;
}